
/**
 * @file comments.css
 * Basic styles for comments.
 */

/**********************************************************
 *                     Comments
 **********************************************************/
/* Comment wrapper */
#comment-wrapper {}
h2#comment-wrapper-title {}
	
.comment {
  margin: 0 0 1em;
}

.comment .indented {
  margin-left: 2em; /* LTR */
}

/* The title of each comment. */
.comment-title {}

.comment-id {}
.comment-title .new {color: #FF8000;}

.comment-title a:link,
.comment-title a:visited,
.comment-title a:active {
  text-decoration: none;
}

.comment-title a:hover {
  text-decoration: underline;
}

.comment .user-picture {
  float: right; /* RTL */
  margin: 0.3em 0 0.1em 0.5em; /* LTR */
}

.comment .user-picture img {}
.comment-submitted {}
.comment-submitted a {}
.comment-submitted a:hover {}

/* Comment content wrapper. */
.comment-content {}

.comment ul.links {
  clear: both;
  margin: 0;
}

/* Zebra styles for comments. */
.comment.odd  {}
.comment.even {}

/* Style comments depending on the comment author. */
.comment-by-node-author {}
.comment-by-anon   {}
.comment-mine      {}

/* Theme comment status. */
.comment .unpublished {}
