
/**********************************************************
 *                       Menus
 **********************************************************/
/**
 * Prefix these with the block id to style one menu only.
 */
ul.menu,
ul.menu ul, 
ul.menu ul ul, 
ul.menu ul ul ul {
  margin: 0 0 0 0.75em; /* LTR */
  padding: 0;
}

/* Menu li styles */
ul.menu li {
  padding: 0.35em 0 0 0; /* LTR */
}

ul.menu li.collapsed {}
ul.menu li.expanded  {}
ul.menu li.leaf      {}

ul.menu li a:link    {}
ul.menu li a:hover   {}
ul.menu li a:visited {}
ul.menu li.active a  {}
ul.menu li.active-trail {}

ul.menu li.first {}
ul.menu li.last  {}


/**********************************************************
 *               Primary & Secondary Links
 **********************************************************/
/**
 * Implimentation of Primary and Secondary Links.
 *
 * Primary & Secondary Links are colored by default so you 
 * can easily identify them.
 */

/* Hide menu headers. */
#main-menu-wrapper h2,
#secondary-menu-wrapper h2 {
  height: 0;
  overflow: hidden;
  position: absolute;
}

/* Main Menu */

/* FLOAT RIGHT */
/* #main-menu-wrapper .main-menu-inner {float: right;} */

/* ALIGN CENTER */
/* #main-menu-wrapper .main-menu-inner {display: table; margin: 0 auto; text-align: center;} */

#main-menu-wrapper {
  margin: 0.75em 0;
}

#main-menu {
  background: #DDD; /* Default gray for dev only. */
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* Modify the margin to set tab spacings. */
#main-menu li {
  display: inline;
  line-height: 2;
  list-style: none;
  margin: 0 1em;
  padding: 0;
}

#main-menu li a {
  text-decoration: none;
  white-space: nowrap;
}

/* Set pseudo class styles. */
#main-menu li a:link {}
#main-menu li a:visited {}
#main-menu li a:hover {}
#main-menu li a:focus {}
#main-menu li a:active {}


/* Primary first and last classes. */
#main-menu li.first {}
#main-menu li.last {}

/* Active trail classes. */
#main-menu li.active {}
#main-menu li.active-trail {}
#main-menu li.active-trail a {}


/* Secondary menu */

/* FLOAT RIGHT */
/* #secondary-menu-wrapper .secondary-menu-inner {float: right;} */

/* ALIGN CENTER */
/* #secondary-menu-wrapper .secondary-menu-inner {display: table; margin: 0 auto; text-align: center;} */

#secondary-menu-wrapper  {
  margin: 0.75em 0;
}

#secondary-menu {
  background: #EEE; /* Default gray for dev only. */
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* Modify the margin to set tab spacings. */
#secondary-menu li {
  display: inline;
  line-height: 2;
  list-style: none;
  margin: 0 1em;
  padding: 0;
}

#secondary-menu li a {
  text-decoration: none;
  white-space: nowrap;
}

/* Set pseudo class styles. */
#secondary-menu li a:hover {}
#secondary-menu li a:focus {}
#secondary-menu li a:active {}
#secondary-menu li a:visited {}

/* Secondary first and last classes. */
#secondary-menu li.first {}
#secondary-menu li.last {}

/* Active trail classes. */
#secondary-menu li.active {}
#secondary-menu li.active-trail {}
#secondary-menu li.active-trail a {}


/**********************************************************
 *                      Breadcrumb
 **********************************************************/
/**
 * Genesis places the breadcrumb directly below the header, 
 * giving it the full width of theme to expand into.
 * You can eaisly drag the breadcrumb html to the main 
 * content column if you need to.
 */
#breadcrumb {
  padding: 0 0 0.75em;
}

/**********************************************************
 *                     Pager 
 **********************************************************/
/* The first 2 classes provide the base pager styles. */
.item-list ul.pager    {}
.item-list ul.pager li {
  margin: 0;
}

/* Theme the various states of pager links. */
.item-list ul.pager li a:link    {}
.item-list ul.pager li a:visited {}
.item-list ul.pager li a:hover   {}

/* Note: .pager-current is for the current page. */
.item-list ul.pager li.pager-item     {}
.item-list ul.pager li.first          {}
.item-list ul.pager li.last           {}
.item-list ul.pager li.pager-current  {}
.item-list ul.pager li.pager-first    {}
.item-list ul.pager li.pager-previous {}
.item-list ul.pager li.pager-next     {}
.item-list ul.pager li.pager-last     {}


/**********************************************************
 *                    Skip Navigation
 **********************************************************/
/* The skip link will show on focus. The style of the skip 
 * link matches toolbar and is the same as for the Seven theme. 
 */
#skip-link {
  margin-top: 0;
  position: absolute;
  left: 50%;
  margin-left: -5.25em;
  width: auto;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  position: absolute;
  display: block;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background: #444;
  color: #fff;
  font-size: 0.94em;
  text-decoration: none;
  border-radius:0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;

}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  padding: 1px 10px 2px 10px;
}

