
/**********************************************************
 *                      Nodes
 **********************************************************/

.node {
  margin: 0 0 1.5em;
}

/* Inner DIV */
.node-inner {}

/* Title */
.node-title {}
.node-title a {
  text-decoration: none;
}

.node-title a:hover,
.node-title a:focus {
  text-decoration: underline;
}

/* User picture */
.node .user-picture {
  float: right;
  margin: 0.3em 0 0.5em 1em;
}

/* Submitted */
.node-submitted {}
.node-submitted span {}
.node-submitted a    {}

/* Node content wrapper */
.node-content {}

/* Links */
.node-links {}
.node-links ul.links {}
.node-links ul.links li {}
.node-links ul.links li a{}

/* Page view */
.node-view {}

/* Teaser view */
.node-teaser {}

/* Sticky */
.node-sticky {}

/* Promoted */
.node-promoted {}

/* Status */
.node-unpublished {}
 
/* Theme nodes that belong to the author */
.node-mine {}


/**********************************************************
 *                   Core node types
 **********************************************************/
.node-article {}
.node-blog    {}
.node-page    {}
.node-forum   {}
.node-book    {}
.node-poll    {}


/**********************************************************
 *                 Custom node types
 **********************************************************/
/** 
 * Replace CONTENT_TYPE with the content type 
 * machine-readable name. 
 */
.node-type-CONTENT_TYPE {}

