
/**********************************************************
 *                    Body Classes
 **********************************************************/

body {
  padding: 0 10px;
  margin: 0;
}
	
/**********************************************************
 *                  The wrapper divs
 *    Be careful how you modify these, see layout.css
 **********************************************************/
/**
 * Width Setting
 *
 * Genesis supports Elastic, Fluid and Fixed width values.
 * - Elastic layouts expand or contract when the font size is changed. 
 * - Fluid widths change when the browser is resized.
 * - Fixed width layouts stay the same even when the browser
 *   is resized or the font size is changed.
 *
 * Elastic layouts use ems,       e.g. 80em
 * Fluid layouts use percentages, e.g. 85%
 * Fixed widths use pixels,       e.g. 960px
 */
#container {
  width: 85%;
  min-width: 960px;
}

/* Column wrappers */
#columns {}
.columns-inner {}

/* Content wrappers */
#content-column {}
.content-inner {}

/* Main content wrappers*/
#main-content {}
#content {}


/**********************************************************
 *                 Header Elements
 **********************************************************/
/* #header wraps #branding and #header-blocks. */
#header {}

/* #branding wraps #logo, #site-name and #site-slogan. */
#branding {
  float: left; /* LTR */
}

/* #branding wraps the logo and hgroup (site name and slogan). */
#branding {

} 

/* Logo. */
#logo {}

#site-name {
  font-weight: bold; /* Bold or else the line heights vary. */
  font-size: 2em;
  line-height: 1.5;
}

/* Override default pseudo class styles. */
#site-name a:link,
#site-name a:visited {}

#site-name a:hover,
#site-name a:focus,
#site-name a:active  {}

/* Site slogan. */
#site-slogan {}


/**********************************************************
 *                       Regions
 **********************************************************/
/* Target all regions - be careful with this one, its easily 
 * over-ridden and will target sidebar inner DIVS as well.
 */
.region {}

/**
 * Each region has a main wrapper DIV and an inner DIV.
 * The following selectors are follow the patter of:
 * #region-name
 * .region-inner-div-name
 */
/* Leaderboard */
#leaderboard {}
.region-leaderboard {}

/* Header blocks */
#header-blocks {
  float: right;
}
.region-header {}

/* Help */
#help {}
.region-help {}

/* Highlight */
#highlighted {}
.region-highlighted {}

/* Secondary content */
#secondary-content {}
.region-secondary-content {}

/* Tertiary content */
#tertiary-content {}
.region-tertiary-content {}

/* Tertiary content */
#footer {}
.region-footer {}


/**********************************************************
 *                      Sidebars
 **********************************************************/
/* Target both sidebars with this low specifity selector. */
.sidebar {}
.sidebar .region {}

/* Target a specific sidebar. */
#sidebar-first {}
.sidebar .region-sidebar-first {}

#sidebar-second {}
.sidebar .region-sidebar-second {}


/**********************************************************
 *          Search form, Search results
 *          For the search block see blocks.css
 **********************************************************/
/* Search page fieldset. */
#search-form {}

/* Basic search form. */
#search-form #edit-basic {}

/* Advanced search form. */
#search-form #edit-advanced {}

/* Use the child selector because the inner div has no class. */
#search-form > div {}
#search-form .container-inline {}
#search-form #edit-keys {}

#search-form label {}
#search-form input {}
#search-form .form-item {}
#search-form .form-submit {}

/* Override forms.css text field focus style. */
#search-form #edit-keys:hover,
#search-form #edit-keys:focus {}

/* Search results list. */
ol.search-results {
  padding: 0;
  margin: 0;
}
ol.search-results li {}
ol.search-results .title {}
ol.search-results p {}
ol.search-results .search-snippet {}
ol.search-results .search-info {}


/**********************************************************
 *                Footer, RSS Feed Icon
 **********************************************************/
#footer {
  margin: 0.375em 0;
}

#footer .region {}

.feed-icon {}
.feed-icon img {
  padding:0 0.5em;
}
