
/* Standard 3 column, em based widths. */
#genesis-1a .two-sidebars .content-inner{margin:0 22em;}
#genesis-1a .sidebar-first .content-inner{margin-left:22em;}
#genesis-1a .sidebar-second .content-inner{margin-right:22em;}
#genesis-1a #sidebar-first{width:20em;margin-left:-100%;}
#genesis-1a #sidebar-second{width:20em;margin-left:-20em;}

/* Standard 3 column, % based widths. */
#genesis-1b .two-sidebars .content-inner{margin:0 25.25%;}
#genesis-1b .sidebar-first .content-inner{margin-left:25.25%;}
#genesis-1b .sidebar-second .content-inner{margin-right:25.25%;}
#genesis-1b #sidebar-first{width:24.25%;margin-left:-100%;}
#genesis-1b #sidebar-second{width:24.25%;margin-left:-24.25%;}

/* Standard 3 column, px based widths (default). */
#genesis-1c .two-sidebars .content-inner{margin:0 260px;}
#genesis-1c .sidebar-first .content-inner{margin-left:260px;}
#genesis-1c .sidebar-second .content-inner{margin-right:260px;}
#genesis-1c #sidebar-first{width:240px;margin-left:-100%;}
#genesis-1c #sidebar-second{width:240px;margin-left:-240px;}

/* Both sidebars right, em based widths. */
#genesis-2a .two-sidebars .content-inner{margin-right:44em;}
#genesis-2a .sidebar-first .content-inner{margin-right:22em;}
#genesis-2a .sidebar-second .content-inner{margin-right:22em;}
#genesis-2a #sidebar-first{width:20em;margin-left:-42em;}
#genesis-2a #sidebar-second{width:20em;margin-left:-20em;}
#genesis-2a .sidebar-first #sidebar-first{width:20em;margin-left:-20em;}

/* Both sidebars right, % based widths. */
#genesis-2b .two-sidebars .content-inner{margin-right:50.5%;}
#genesis-2b .sidebar-first .content-inner{margin-right:25.25%;}
#genesis-2b .sidebar-second .content-inner{margin-right:25.25%;}
#genesis-2b #sidebar-first{width:24.25%;margin-left:-49.5%;}
#genesis-2b #sidebar-second{width:24.25%;margin-left:-24.25%;}
#genesis-2b .sidebar-first #sidebar-first{width:24.25%;margin-left:-24.25%;}

/* Both sidebars right, px based widths. */
#genesis-2c .two-sidebars .content-inner{margin-right:520px;}
#genesis-2c .sidebar-first .content-inner{margin-right:260px;}
#genesis-2c .sidebar-second .content-inner{margin-right:260px;}
#genesis-2c #sidebar-first{width:240px;margin-left:-500px;}
#genesis-2c #sidebar-second{width:240px;margin-left:-240px;}
#genesis-2c .sidebar-first #sidebar-first{width:240px;margin-left:-240px;}

/* Both sidebars left, em based widths. */
#genesis-3a .two-sidebars .content-inner{margin-left:44em;}
#genesis-3a .sidebar-first .content-inner{margin-left:22em;}
#genesis-3a .sidebar-second .content-inner{margin-left:22em;}
#genesis-3a #sidebar-first{width:20em;margin-left:-100%;}
#genesis-3a #sidebar-second{width:20em;margin-left:-100%;}
#genesis-3a .two-sidebars #sidebar-second{width:20em;position:relative;left:22em;}

/* Both sidebars left, % based widths. */
#genesis-3b .two-sidebars .content-inner{margin-left:50.5%;}
#genesis-3b .sidebar-first .content-inner{margin-left:25.25%;}
#genesis-3b .sidebar-second .content-inner{margin-left:25.25%;}
#genesis-3b #sidebar-first{width:24.25%;margin-left:-100%;}
#genesis-3b #sidebar-second{width:24.25%;margin-left:-100%;}
#genesis-3b .two-sidebars #sidebar-second{width:24.25%;position:relative;left:25.25%;}

/* Both sidebars left, px based widths. */
#genesis-3c .two-sidebars .content-inner{margin-left:520px;}
#genesis-3c .sidebar-first .content-inner{margin-left:260px;}
#genesis-3c .sidebar-second .content-inner{margin-left:260px;}
#genesis-3c #sidebar-first{width:240px;margin-left:-100%;}
#genesis-3c #sidebar-second{width:240px;margin-left:-100%;}
#genesis-3c .two-sidebars #sidebar-second{width:240px;position:relative;left:260px;}

/* Golden rule layout (63%/37%), % based widths, only use one sidebar, never both! */
#genesis-4 .two-sidebars .content-inner{margin-right:40%;}
#genesis-4 .sidebar-first .content-inner{margin-right:40%;}
#genesis-4 .sidebar-second .content-inner{margin-right:40%;}
#genesis-4 #sidebar-first{width:37%;margin-left:-37%;}
#genesis-4 #sidebar-second{width:37%;margin-left:-37%;}
#genesis-4 .sidebar-first #sidebar-first{width:37%;margin-left:-37%;}

/* Layout helpers. */
#container{position:relative;margin:0 auto;}
#columns{display:inline-block;margin-bottom:1em;}
#container > #columns{display:block;}
#content-column,#sidebar-first,#sidebar-second{float:left;}
#content-column{width:100%;margin-bottom:1em;}
.clear,#main-menu-wrapper,#secondary-menu-wrapper,#columns,#breadcrumb,#secondary-content,#tertiary-content,#footer{clear:both;}
/* Reset HTML5 elements, CSS assumes elements are inline. */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}